.app{
    margin-top: 20px;
}
.button{
text-decoration: none;
font-size: 16px;
font-weight: 200;
letter-spacing: 1px;
padding: 13px 20px 13px;
outline: 0;
border: 1px solid black;
cursor: pointer;
position: relative;
background-color: rgba(0, 0, 0, 0);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}
.button:after {
content: "";
background-color: #ffe54c;
width: 100%;
z-index: -1;
position: absolute;
height: 100%;
top: 7px;
left: 7px;
transition: 0.2s;
}
.button:hover:after {
top: 0px;
left: 0px;
}
.link:link {
text-decoration: none;
}
.link:visited {
text-decoration: none;
color:red;
}
.link:hover {
text-decoration: underline;
background:#ffe54c;
}
.link:active {
text-decoration: underline;
}
table{
  display:flex;
  flex-direction: column;
}
td{
border: 1px solid;
width: 150px;
padding: 5px;
text-align: left;
}